body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-repeat:repeat-y;
    background-color: #1a2930;
    background-attachment: fixed;
    background-position: center;
    cursor: default;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}